@model List<ForumPostModel>

@{
    ViewData["Title"] = "Index";
}

@* Forum posts need their own sections *@
<section id="spaceForum" class="centeredPanel">
    <h2>Index</h2>

    @if (TempData["Show_Message"] != null)
    {
        <br />
        <p class="alert-success text-center">Your message has been posted!</p>
    }

    @* asp-action=post GETs the forum for us *@

    <p class="text-center"><a asp-action="post" asp-controller="forum">Post a message</a></p>
    <table class="table-striped">
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>
                        @* We could also use div's but <td> work with idea of the forum as a table *@
                        <strong>@post.Subject</strong><br />by @post.Username on @post.PostDate.Date.ToShortDateString() at @post.PostDate.ToShortTimeString()<p></p>@post.Message
                    </td>
                </tr>

            }
        </tbody>
    </table>
</section>