@model List<ForumPostModel>

@{
    ViewData["Title"] = "Index";
}
<section id="calculatorResult" class="centeredPanel">
    <h2>Index</h2>
    <p class="text-center"><a asp-action="post" asp-controller="forum">Post a message</a></p>
    <table class="table-striped">
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>
                        <strong>@post.Subject</strong><br />by @post.Username on @post.PostDate.Date.ToShortDateString() at @post.PostDate.ToShortTimeString()<p></p>@post.Message
                    </td>
                </tr>

            }
        </tbody>
    </table>
</section>